<%- include('../partials/header') %>

<% if(user) { %>
    <form id="edit"
      action="/books/<%= b._id %>/<%=review._id%>/reviews?_method=PUT" method="POST">
      <div id="review"><label>Review:</label></div>
      <div id="box"><textarea name="content"> <%= review.content %></textarea></div>
      <input type="submit" value="Update Review">
    </form>
  <% } %> 
   
<%- include('../partials/footer') %>
